<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:fragment="head(title)">
    <title th:text="${title}">Cortex</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet" />
    <link th:href="@{/css/cortex.css}" rel="stylesheet" />
  </head>

  <li th:fragment="classNode(ontClass)" class="class-node">
    <a
      class="class-link"
      th:href="@{/assertions(type=${ontClass.type.uri})}"
      th:text="${ontClass.type.prefix != null ? ontClass.type.prefix + ':' + ontClass.type.localName : ontClass.type.localName}"></a>
    <ul class="class-tree" th:if="${!ontClass.subClasses.isEmpty()}">
      <th:block th:each="subClass : ${ontClass.subClasses}">
        <li th:replace="~{fragments :: classNode(${subClass})}"></li>
      </th:block>
    </ul>
  </li>

  <nav th:fragment="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" href="/">CORTEX</a>
      <form class="navbar-search" action="/search" method="get" role="search">
        <input
          class="navbar-search-input"
          type="search"
          name="q"
          placeholder="Search…"
          autocomplete="off"
          th:value="${param.q}" />
      </form>
      <ul class="navbar-menu">
        <li><a href="/assertions">ASSERTIONS</a></li>
        <li><a href="/ontology">ONTOLOGY</a></li>
        <li><a href="/branches">BRANCHES</a></li>
        <li><a href="/export">EXPORT</a></li>
        <li>
          <form class="navbar-import" action="/import" method="post" enctype="multipart/form-data">
            <label for="import-file">IMPORT</label>
            <input
              id="import-file"
              type="file"
              name="file"
              accept=".ttl,text/turtle"
              hidden
              onchange="this.form.submit();" />
          </form>
        </li>
      </ul>
    </div>
  </nav>
</html>
