<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:fragment="head(title)">
    <title th:text="${title}">Cortex</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet" />
    <link th:href="@{/css/cortex.css}" rel="stylesheet" />
  </head>

  <li th:fragment="classNode(ontClass)" class="class-node">
    <a
      class="class-link"
      th:href="@{/assertions(type=${ontClass.name})}"
      th:text="${ontClass.name}"></a>
    <ul class="class-tree" th:if="${!ontClass.subClasses.isEmpty()}">
      <th:block th:each="subClass : ${ontClass.subClasses}">
        <li th:replace="~{fragments :: classNode(${subClass})}"></li>
      </th:block>
    </ul>
  </li>

  <nav th:fragment="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" href="/">CORTEX</a>
      <ul class="navbar-menu">
        <li><a href="/assertions">ASSERTIONS</a></li>
        <li><a href="/ontology">ONTOLOGY</a></li>
        <li><a href="/branches">BRANCHES</a></li>
      </ul>
    </div>
  </nav>
</html>
